extends layout

block content
    ol.breadcrumb
        li
            a(href="/") Home
        li.active News
        li
            a(href=href)= title
        li.active Edit

    form(role=form)#create-news-article
        div.form-group
            label(for="title") Title
            input#title.form-control(placeholder="Enter Title", value=title, autocomplete="off")
        div.form-group
            label(for="labels") Labels
            input#labels.form-control(placeholder="Labels", value=labels)
        div.form-group
            label(for="summary") Short Summary
            textarea#summary.form-control(placeholder="Short summary of news article", autocomplete="off")= summary
        div.form-group
            label(for="news-content-editor") Content
            div#news-content-editor= content
        div.form-group
            button(type=submit,data-loading-text="Saving...")#submit.btn.btn-success.pull-right Save
    script(src="/news/javascripts/createNewsArticle.js",type="text/javascript")
